pyautogui
pynput
opencv-python
mss
pyav
ffpyplayer
numpy
pyjwt
cryptography
requests
aiohttp
websockets
pywin32 ; sys_platform == 'win32'
kivy
kivymd
pyjnius
plyer
schedule
python-dotenv
loguru
sqlalchemy
psycopg2-binary
PyQt6
qt-material
Pillow
python-xlib
xdotool
wmctrl
psutil
datetime
getpass